<div class="appBackground" fxLayout="column" fxLayoutGap="5px">

  <div class="appHeader" fxLayout="row">
      <a>
          <img class="headerLogo" src="../assets/logo.png">
          </a>
  </div>

  <mat-toolbar style="background-color: #AEB6BF ; padding: 20px; width: 100%;"> DASHBOARD</mat-toolbar>
    <div fxLayout="row">
      <mat-card class="chartCard">
        <div fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around center">
          <div fxFlex="24">
              <mat-card class="chartSubCards">Simple card</mat-card>
          </div>

          <div fxFlex="24">
              <mat-card class="chartSubCards">Simple card</mat-card>
          </div>

          <div fxFlex="24">
              <mat-card class="chartSubCards">Simple card</mat-card>
          </div>

          <div fxFlex="24">
              <mat-card class="chartSubCards">Simple card</mat-card>
          </div>
        </div>
      </mat-card>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="1px" fxLayoutAlign="space-around center">
      <div fxFlex="24">
          <mat-card class="cardStyle">Simple card</mat-card>
      </div>

      <div fxFlex="24">
          <mat-card class="cardStyle">Simple card</mat-card>
      </div>

      <div fxFlex="24">
          <mat-card class="cardStyle">Simple card</mat-card>
      </div>

      <div fxFlex="24">
          <mat-card class="cardStyle">Simple card</mat-card>
      </div>
  </div>

  <div style="background: #2d2d2d; opacity: 0.5;" fxLayout="row wrap"  fxLayoutAlign="center center">
      <p class="footer-links" style="font-size: small; margin-top: 10px; color: white;"> © 2019</p>
  </div>
</div>
